---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);

import getSortedPosts from "@utils/getSortedPosts";

import SearchBar from "@components/Search";


// Retrieve all published articles
const postss = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = getSortedPosts(postss);

// List of items to search in
const searchList = sortedPosts.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
}));
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <div class="mx-auto w-full max-w-3xl px-4 ">
    <SearchBar client:load searchList={searchList} />
  </div>
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
